<ion-view hide-nav-bar="true" hide-back-button="true">

<ion-content class="main-page home-bg content-bg overlay-content" scroll="false">
   <div class="logo">
   </div>

   <div class="slogan">
    <p>
      store all your membership cards here...
    </p>

    <p>
      By <a class="pseudo-link" ng-click="launchFrnchNrd()">@orbiworks</a>
    </p>
   </div>

   <button class="button button-blue" ng-click="navigateTo('app.auth.login')">
      Sign In
   </button>

   <button class="button button-transparent" ng-click="navigateTo('app.auth.signup')">
      Sign up
   </button>
   
</ion-content>

</ion-view>